<div class="container"> 
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> 
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
            <i class="bi bi-bootstrap" style="font-size: 2rem;"></i>
            <span class="fs-4">Simple header</span> 
        </a>
        <ul class="nav nav-pills"> 
            <li class="nav-item">
                <a routerLink="/home" class="nav-link" routerLinkActive="active" aria-current="page"
                [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li> 
            <li class="nav-item"><a href="/movies" routerLinkActive="active" class="nav-link">Perfil</a></li> 
            <li class="nav-item"><a routerLink="/usuario-cartera" routerLinkActive="active" class="nav-link">Cartera</a></li>
            <li class="nav-item"><a routerLink="/tienda" routerLinkActive="active" class="nav-link">Tienda</a></li>
            <li class="nav-item"><a routerLink="/biblioteca" routerLinkActive="active" class="nav-link">Biblioteca</a></li>
            <li class="nav-item"><a routerLink="/grupos" routerLinkActive="active" class="nav-link">Grupos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul> 
    </header>
</div>