<div class="container"> 
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> 
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
            <i class="bi bi-bootstrap" style="font-size: 2rem;"></i>
            <span class="fs-4">Simple header</span> 
        </a>
        <ul class="nav nav-pills"> 
            <li class="nav-item">
                <a routerLink="/home" class="nav-link" routerLinkActive="active" aria-current="page"
                [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li> 
            <li class="nav-item"><a routerLink="/empresas" routerLinkActive="active" class="nav-link">Empresas</a></li> 
            <li class="nav-item"><a routerLink="/sistema/configuraciones" routerLinkActive="active"class="nav-link">Configuraciones</a></li> 
            <li class="nav-item"><a routerLink="/categorias" routerLinkActive="active" class="nav-link">Categorias</a></li> 
            <li class="nav-item"><a routerLink="/movies" class="nav-link">Peliculas</a></li>
            <li class="nav-item"><a routerLink="/reportes" class="nav-link">Reportes</a></li>
            <li class="nav-item"><a routerLink="/home" class="nav-link">About</a></li>
        </ul> 
    </header>
</div>